---
export const prerender = true;
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="関連ページ — code-onigiri" meta="code-onigiri の関連リンク集">
  <section class="hero">
    <h1>関連サイト</h1>
    <p>私の他のサイトへのリンク集です。</p>
  </section>

  <section class="border-l-3 border-[var(--border)] pl-4">
    <h2>サイト外</h2>
    <ul>
      <li>
        <a href="https://x.com/code_onigiri">X</a>
        <p>code-onigiri</p>
      </li>
        <li>
            <a href="https://github.com/code-onigiri">GitHub</a>
            <p>code-onigiri</p>
        </li>
    </ul>
  </section>
</BaseLayout>
