---
---
<nav class="sidebar" aria-label="Primary" x-cloak x-show="navOpen || window.matchMedia('(min-width: 880px)').matches">
  <ul class="nav">
    <li class="nav-section">Guide</li>
    <li><a href="/">Home</a></li>
    <li><a href="/blog/">Blog</a></li>
    <li><a href="/wiki/">Wiki</a></li>
    <li class="nav-section">Docs</li>
    <li><a href="/#why-astro">Why Astro</a></li>
    <li><a href="/#features">Features</a></li>
    <li><a href="/#design-principles">Design Principles</a></li>
    <li><a href="/#islands-architecture">Islands</a></li>
    <li><a href="/#install-astro">Install</a></li>
  </ul>
</nav>
